{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Administrador Finanzas</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'expenses.css' %}" />
  </head>
  <body>
    <nav>
      <div class="logo">
        <h1>Admin Finanzas</h1>
      </div>
      <ul>
        {% if user.is_authenticated %}
        <li class="nav-expense">
          <a href="/expense">Gastos</a>
        </li>
        <li class="nav-expense">
          <a href="/categories">Categorias</a>
        </li>
        <li class="nav-category-create">
          <a href="/debts/">Deudores</a>
        </li>
        <li class="nav-category-create">
          <a href="/loans/">Prestamos</a>
        </li>
        <li class="nav-category-create">
          <a href="/incomes/">Ingresos</a>
        </li>
        <li class="nav-logout">
          <a href="/logout">Cerrar sesion</a>
        </li>
        {% else %}
        <li class="nav-home">
          <a href="/">Inicio</a>
        </li>
        <li class="nav-signup">
          <a href="/signup">Registrarse</a>
        </li>
        <li class="nav-signin">
          <a href="/signin">Iniciar sesion</a>
        </li>
        {% endif %}
      </ul>
      <div class="hamburger">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div>
    </nav>
    <div class="menubar">
      <ul>
        {% if user.is_authenticated %}
        <li class="nav-expense">
          <a href="/expense">Gastos</a>
        </li>
        <li class="nav-expense">
          <a href="/categories">Categorias</a>
        </li>
        <li class="nav-category-create">
          <a href="/debts/">Deudores</a>
        </li>
        <li class="nav-category-create">
          <a href="/loans/">Prestamos</a>
        </li>
        <li class="nav-category-create">
          <a href="/incomes/">Ingresos</a>
        </li>
        <li class="nav-logout">
          <a href="/logout">Cerrar sesion</a>
        </li>
        {% else %}
        <li class="nav-home">
          <a href="/">Inicio</a>
        </li>
        <li class="nav-signup">
          <a href="/signup">Registrarse</a>
        </li>
        <li class="nav-signin">
          <a href="/signin">Iniciar sesion</a>
        </li>
        {% endif %}
      </ul>
    </div>

    <script src="{% static 'script.js' %}"></script>
    {% block content %}
    <!-- CONTENIDO DE LAS APPS -->
    {% endblock %}
  </body>
</html>