<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django app</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        {% if user.is_authenticated %}
        <li>
          <a href="/expense">Gastos</a>
        </li>
        <li>
          <a href="/logout">Cerrar sesion</a>
        </li>
        {% else %}
        <li>
          <a href="/signup">Registrarse</a>
        </li>
        <li>
          <a href="/signin">Iniciar sesion</a>
        </li>
        {% endif %}
      </ul>
    </nav>

    {% block content %} {% endblock %}
  </body>
</html>
