{% extends "base.html" %} {% block content %}
<main>
  <section class="header">
    <h1 class="title">Gastos</h1>
    <div class="actions">
      <a href="/expense/create">
        <button>Registrar gasto</button>
      </a>
      <a href="/categories/create/">
        <button>Crear categoria</button>
      </a>
      <a href="/chart/expenses-by-category/">
        <button>Grafica de gastos por categoria</button>
      </a>
    </div>
  </section>
  <div class="table-container">
    <table class="expense-table">
      <thead>
        <tr>
          <th>Monto</th>
          <th>Descripción</th>
          <th>Categoría</th>
          <th>Fecha de Registro</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for expense in expenses %}
        <tr>
          <td>${{ expense.amount }}</td>
          <td>{{ expense.title }}</td>
          <td>{{ expense.category_id.name }}</td>
          <td>{{ expense.date_of_registration }}</td>
          <td>
            <a href="{% url 'expense_update' expense.id %}">
              <button class="btn-edit editar">Editar</button>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>
{% endblock %}
