{% extends "base.html" %} 

{% block content %}
<main>
  <section>
    <h1>Crear gasto</h1>
    {{error}}
  </section>
  <section>
    <form class="form" action="/expense/create/" method="POST">
      {% csrf_token %}
      <input placeholder="Monto/Precio" type="number" name="amount" step="0.01" required id="id_amount">
      <input placeholder="Titulo" type="text" name="title" maxlength="50" required id="id_title">
      <textarea placeholder="Descripcion" name="description" cols="40" rows="10" maxlength="500" id="id_description"></textarea>
      <div> 
        Categoria: {{ form.category_id }}
       </div>
       <button>Guardar</button>
    </form>
  </section>
</main>
{% endblock %}
