{% extends 'base.html' %} {% block content %}
<main>
  <section class="container-title">
    <h1 class="title">Iniciar sesion</h1>
    {{error}}
  </section>
  <section class="container-form">
    <form action="/signin/" method="POST">
      {% csrf_token %}
      <input
        id="id_username"
        name="username"
        type="text"
        placeholder="Nombre de usuario"
      />
      <input
        id="id_password"
        name="password"
        type="password"
        placeholder="Contraseña"
      />
      <button>Iniciar sesion</button>
    </form>
  </section>
</main>
{% endblock %}
