{% extends 'base.html' %}

{% block content %}
{{error}}
<h1>Registrarse</h1>
<form id="form_signup" action="/signup/" method="POST">
  {% csrf_token %}
  <!-- {{form.as_p}} -->
  <input id="id_username" name="username" type="text" placeholder="Nombre de usuario">
  <input id="id_password1" name="password1" type="password" placeholder="Contraseña">
  <input id="id_password2" name="password2" type="password" placeholder="Ingrese de nuevo la contraseña">
  <button id="btn-signup">Registrarse</button>
</form>
{% endblock %}
