{% extends "base.html" %} 

{% block content %}
<main>
  <section>
    <h1>Crear categoria</h1>
  </section>
  <section class="form">
    <form method="POST">
      {% csrf_token %}
      <input
        placeholder="Nombre"
        type="text"
        name="name"
        maxlength="100"
        required
        id="id_name"
      />
      <textarea
        placeholder="Descripcion"
        name="description"
        cols="40"
        rows="10"
        maxlength="500"
        required
        id="id_description"
      ></textarea>
      <button class="btn-form">Guardar</button>
    </form>
  </section>
</main>
{% endblock %}
