{% extends 'base.html' %} 

{% block content %}
<main>
  <section class="header">
    <h1 class="title">Ingresos</h1>
    <div class="actions">
      <a href="/incomes/create">
        <button>Registrar ingreso</button>
      </a>
      <a href="/chart/incomes_by_source/">
        <button>Grafica ingresos por fuente</button>
      </a>
    </div>
  </section>
  <div class="table-container">
    <table class="expense-table">
      <thead>
        <tr>
          <th>Fuente de ingreso</th>
          <th>Descripcion</th>
          <th>Monto/Dinero</th>
          <th>Fecha de Registro</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for income in incomes %}
        <tr>
          <td>{{ income.source }}</td>
          <td>{{ income.description }}</td>
          <td>{{ income.amount }}</td>
          <td>{{ income.date_of_registration }}</td>
          <td>
            <a>
              <form action="{% url 'income_delete' income.id %}" method="POST">
                {% csrf_token %}
                <button class="eliminar">Eliminar</button>
              </form>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>
{% endblock %}
