{% extends "base.html" %} {% block content %}
<main>
  <h1>Pago de prestamo</h1>
  {{ error }} 
  {{ success }}
  <section class="form">
    <form>
      <input
        disabled
        type="number"
        name="amount"
        value="{{ form.instance.amount }}"
        step="0.01"
        required
        id="id_amount"
      />
      <input
        disabled
        type="text"
        name="lender"
        value="{{ form.instance.lender }}"
        maxlength="50"
        required
        id="id_lender"
      />
    </form>
    <hr />
    <form action="{% url 'loan_pay' loan.id %}" method="POST">
      {% csrf_token %}
      <input
        placeholder="Ingrese monto de abono"
        type="number"
        name="amount_pay"
        step="0.01"
        id="amount_pay"
        required
      />
      <button>Restar</button>
    </form>
  </section>
</main>
{% endblock %}
